* {
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
  color: #e5e0d8;
  font-family: Sriracha, cursive;
}

.App {
  text-align: center;
}

.app-background {
  background-color: #e5d2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background-color: #809671;
  width: 30rem;
  height: min-content;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}

.title {
  font-family: Sriracha, cursive;
  text-align: center;
  font-size: 1.5rem;
}

.add-item-box {
  background: #b3b792;
  color: #809671;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}

.add-item-box svg {
  margin: 1px;
}

.add-item-input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: #e5e0d8;
  width: 100%;
  height: 30px;
}

input::placeholder {
  color: #725c3a;
}
input:focus {
  outline: 0;
}

.item-list {
  display: flex;
  flex-direction: column;
  font-family: Sriracha, cursive;
}

.clicked {
  text-decoration: line-through;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px #fbc1bb solid;
}

.item-name {
  cursor: pointer;
}

.item-name svg {
  margin-left: 5px;
  margin-right: 5px;
}

.item-action-buttons {
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
}

.remove-button {
  color: white;
}

.total {
  padding: 15px;
}

.quantity {
  display: flex;
  align-items: center;
  border: 1px solid #809671;
  background: white;
  border-radius: 50px;
  font-size: 12px;
  color: #809671;
  min-width: 70px;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  margin: 3px;
  color: #e5d2b8;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.add-input {
  border: none;
  border-radius: 10px;
  margin: 4px;
  background-color: #e5d2b8;
}

.add-button {
  color: #809671;
}

.button-container{
  display: flex;
  align-content: space-between;
  align-items: center;
}

.button-container p {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}
